table{
    width: 600px;
}

#findCustButton{
    position: absolute;
    left: 120px;
}

#resultFindTable{
    top: 300px;
}

.divNewCustText{
    font-size: 16.5px;
}
.divNewCustData{
    position: absolute;
    top: 50px;
    left: 150px;
}

.newCustButton{
    position: absolute;
    left: 70px;
}

#resultNewTable{
    top: 340px;
}