table{
    width: 800px;
}

#findPlanButton{
    position: absolute;
    left: 120px;
}

#resultFindTable{
    top: 350px;
}

.divNewPlanText{
    font-size: 16.5px;
}
.divNewPlanData{
    position: absolute;
    top: 50px;
    left: 150px;
}

.newPlanButton{
    position: absolute;
    left: 70px;
}

#resultNewTable{
    top: 380px;
}